<div class="bottom-banner-bg ">
    <div class="row no-margin no-padding">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <p><img src="./assets/img/footer-logo.png" alt="Logo" /></p>
            <br/>
            <p class="info">We believe in Simp;e, Creative & Felxible Design Standards.</p>
            <p class="info">Headquarters: <br/> 795 Folsom Ave, Suite 600 <br/> San Francisco, CA 94107
            </p>
            <p class="info">Phone: (91)8547 632521<br/>Fax: (91)11 4752 1433 <br/>Email: info@canvas.com
            </p>
        </div>

        <div class="col-md-2">
            <p class="col-header">blogroll</p>
            <br/>
            <ul class="blogroll ">
                <li>Documentation</li>
                <li>Feedback</li>
                <li>Plugins</li>
                <li>Support Forums</li>
                <li>Themes</li>
                <li>WordPress Blog</li>
                <li>WordPress Planet</li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <p class="col-header">recent posts</p>
            <br/>
            <p class="post-text">Lorem ipsum dolor sit amet, consectetur
            </p>
            <p class="post-date">10th July 2014</p>
            <br/>
            <p class="post-date">-----------------------------------------------</p>
            <br/>
            <p class="post-text">Elit Assumenda vel amet dolorum quasi</p>
            <p class="post-date">10th July 2014</p>
            <br/>
            <p class="post-date">-----------------------------------------------</p>
            <br/>
            <p class="post-text">Debitis nihil placeat, illum est nisi</p>
            <p class="post-date">10th July 2014</p>
            <br/>
            <p class="post-date">-----------------------------------------------</p>
            <br/>
        </div>
        <div class="col-md-3 no-margin no-padding">
            <div class="row no-margin no-padding">
                <div class="col-md-6 ">
                    <p class="tally">15,065,421</p>
                    <p class="tally-text">Total downloads</p>
                </div>
                <div class="col-md-6 ">
                    <p class="tally">18,465</p>
                    <p class="tally-text">Clients</p>
                </div>
                <br/>
                <p class="subscribe-text">Subscribe to Our News Letter to det important News, Amazing Offers & Inside Scoops: </p>
                <form>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group mb-2 mb-sm-0">
                            <div class="input-group-addon subscribe-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
                            <div class="input-group-addon no-padding"><button type="button" class=" btn subscribe-btn no-margin">Subscribe</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <app-footer></app-footer>
</div>