.bottom-banner-bg {
    bottom: 0;
    left: 0;
    right: 0;
    height: 638px;
    width: auto;
    background-color: #333333;
}

.row {
    width: 100% !important;
}

.tally {
    color: #CCCCCC;
    font-family: Raleway;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    left: 0;
    right: 0;
}

.tally-text {
    opacity: 0.75;
    color: #EEEEEE;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.subscribe-text {
    color: #CCCCCC;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bold;
    width: 291px;
}

.col-header {
    text-transform: uppercase;
    color: #CCCCCC;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 600;
}

.blogroll li {
    opacity: 0.8;
    color: #CCCCCC;
    font-family: Lato;
    font-size: 14px;
    line-height: 30px;
}

.post-date {
    color: #888888;
    font-family: Crete;
    font-size: 13px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.post-text {
    color: #CCCCCC;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.info {
    width: 202px;
    opacity: 0.8;
    color: #CCCCCC;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
}