.no-margin {
    margin: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

.ta-left {
    text-align: left;
}

.pad-top-15 {
    padding-top: 15px;
}

.pad-top-50 {
    padding-top: 50px;
}