<div class="row header-bg no-margin no-padding">
    <div class="col-sm-6 col-md-8 page-title float-sm-left pad-top-50 pad-left-50">MY ACCOUNT</div>
    <!-- <span class="col-md-6 col-sm-0"></span> -->
    <div class="col-sm-6 col-md-4  pad-top-50">
        <ol class="breadcrumb float-sm-right " style="width:300px" id="bread-crumb">
            <li *ngFor="let page of pages" class="breadcrumb-item active">{{page}}</li>
            <li class="breadcrumb-item"></li>

        </ol>
    </div>
</div>