<footer class="row footer-bg no-margin no-padding">

    <div class="col-md-6 footer-text left">
        <p>Copyrights © 2014 All Rights Reserved by Canvas Inc</p>
        <p>Terms of Use / Privacy Policy</p>
    </div>
    <div class="col-md-6 footer-text right ta-right">
        <ul class="social-media">
            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
            <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
            <li><i class="fa fa-vimeo-square" aria-hidden="true"></i></li>
            <li><i class="fa fa-pinterest-p" aria-hidden="true"></i></li>
            <li><i class="fa fa-github" aria-hidden="true"></i></li>
            <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
        </ul>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> info@canvas.com · <i class="fa fa-headphones" aria-hidden="true"></i> +91-11-6541-6369 · <i class="fa fa-skype" aria-hidden="true"></i> CanvasOnSkype</p>
    </div>

</footer>